{% trans_default_domain 'sidebar' %}

<!--colright-->
<div class="col-md-4 col-sm-12">

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h3 class="text-center">{{ 'sidebar.hello' | trans }} {{ app.user.firstName }}</h3>
        <h4 class="text-center">
            {% if is_granted('ROLE_ADMIN') %}
                {% trans from 'roles' %}role.admin{% endtrans %}
            {% elseif is_granted('ROLE_AUTHOR') %}
                {% trans from 'roles' %}role.author{% endtrans %}
            {% else %}
                {% trans from 'roles' %}role.member{% endtrans %}
            {% endif %}
        </h4>
        <ul class="list-group">
            {% if is_granted('ROLE_AUTHOR') %}
                <li class="list-group-item">
                    <a href="{{ path('article_add') }}">{{ 'sidebar.btn.write' | trans }}</a>
                </li>
                {% if article is defined and article and app.user.id == article.author.id %}
                    <li class="list-group-item">
                        <a href="{{ path('article_edit', {id: article.id}) }}">{{ 'sidebar.btn.edit' | trans }}</a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    {% endif %}

    <!--tab popular-->
    <ul role="tablist" class="tab-popular">
        <li class="active">
            <a href="#tab1" role="tab" data-toggle="tab">
                {{ 'sidebar.popular.lastpublications' | trans }}
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab1">
            <ul class="list-news-popular">
                {% for article in articles %}
                    {{ include('components/_list_article.html.twig') }}
                {% endfor %}
            </ul>

        </div>
    </div>

    <!-- subcribe box-->
    <div class="subcribe-box">
        <h3>{{ 'sidebar.newsletter.title' | trans }}</h3>
        <p>{{ 'sidebar.newsletter.description' | trans | raw }}</p>
        <input type="text" placeholder="{{ 'sidebar.newsletter.email.placeholder' | trans }}" />
        <button class="my-btn">{{ 'sidebar.newsletter.btn' | trans }}</button>
    </div>
    <!-- connect us-->
    <div class="connect-us">
        <div class="widget-title">
			<span>
				{{ 'sidebar.connect.follow' | trans }}
			</span>
        </div>
        <ul class="list-social-icon">
            <li>
                <a href="#" class="facebook">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="#" class="twitter">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#" class="google">
                    <i class="fa fa-google"></i>
                </a>
            </li>
            <li>
                <a href="#" class="youtube">
                    <i class="fa fa-youtube-play"></i>
                </a>
            </li>
            <li>
                <a href="#" class="pinterest">
                    <i class="fa fa-pinterest-p"></i>
                </a>
            </li>
            <li>
                <a href="#" class="rss">
                    <i class="fa fa-rss"></i>
                </a>
            </li>
        </ul>
    </div>

    <!-- special post-->
    <div class="connect-us">
        <div class="widget-title">
			<span>
				{{ 'sidebar.special.title' | trans }}
			</span>
        </div>
        <div class="list-special">
            {% for article in specials %}
                {% include 'components/_list_special.html.twig' %}
            {% endfor %}
        </div>
    </div>
</div>